.background {
  background-image: linear-gradient(
    rgba(25, 23, 23, 0.79),
    rgba(0, 0, 0, 0.927)
  );
  min-height: 90vh;
}

.carousel .card {
  transition: transform 0.5s ease-in-out;
}

.carousel .card:hover {
  transform: scale(1.05);
}
